@using (Html.BeginForm("Ara", "Home", FormMethod.Get, new { @class = "d-flex" }))
{
    <input class="form-control me-2" type="search" placeholder="Arama" name="deger" aria-label="Search">
    <button class="btn btn-outline-success col-sm-4" type="submit"><i class="bi bi-search"></i> Ara</button>
}
   

