@model IEnumerable<Blog.Models.Makale>

<h6 style="color:darkblue">En Çok Okunan Makaleler</h6>
@foreach (var item in Model)
{


<div class="card mb-3" style="max-width: 355px;">
    <div class="row g-0">
        <div class="col-md-4">
            <a href="/Home/Detay/@item.Id">  <img src="/Content/images/@item.Resim" alt="..." width="90" height="90"></a> 
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <p class="card-text" style="font-size:14px">@item.Baslik</p>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted"><i class="bi bi-clock" style="font-size:20px"></i> @item.YayinTarih.ToString("dd-MM-yyyy") - <i class="bi bi-eye" style="font-size:20px"></i> @item.Goruntulenme Görüntülenme</small>
        </div>
    </div>
</div>
}
